.container {
  background-color: #266dd3;
  height: 100vh;
}
.title {
  font-size: 30px;
  color: #fafaff;
  margin-bottom: 31px;
}
.description {
  font-size: 16px;
  color: #fafaff;
  line-height: 19px;
}
.descriptionContainer {
  display: flex;
  align-items: center;
}
