.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 14.7%;
  padding-right: 14.7%;
}
.pageTitle {
  color: #fafaff;
  font-size: 21px;
  font-weight: bold;
}
.navBarLink {
  text-decoration: none;
  color: #fafaff;
  margin-left: 27px;
  font-size: 18px;
}
