.weatherContainer {
  background-color: #fafaff;
  margin-top: 9.4%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  height: 400.5px;
  box-shadow: 1px 1px 1.5px 0 rgba(0, 0, 0, 0.16);
}
.weatherTitle {
  margin-top: 3.2%;
  font-size: 18px;
  color: "#434343";
  font-weight: bold;
}
.citiesContainer {
  margin-top: 28.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  flex-direction: row;
}
.cities {
  height: 63.5px;
  margin: 28.5px 15.5px 0 0;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #00c49a;
  /* width: 159.5px; */
  width: calc(1 / 3 * 100% - (1-1 / 3) * 15.5px);
}
.cities > div:nth-child(3n) {
  margin-right: 0;
}
.cities::after {
  content: "";
  flex: auto;
}
.cities > div:nth-child(-n + 3) {
  margin-top: 0;
}
.city {
  padding-top: 4px;
  line-height: 1.34;
  color: #434343;
  font-size: 16px;
  padding-left: 5.6%;
}
.temperatureContainer {
  display: flex;
  justify-content: space-between;
}
.temperature {
  line-height: 1.34;
  color: #434343;
  font-size: 16px;
  padding-left: 5.6%;
}
.currentState {
  margin: 0 6% 14.2% 0;
}
